# compiled output
/dist
/tmp
/out-tsc
/logs

# dependencies
/node_modules


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# config
.env